{% extends "base.html" %}
{% block content %}
<div class="insertForm">
    <form class="form-horizontal" method="POST">
      <h3 style="text-align: center">Delete</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="recent_activity">Sowing with date:</label>
            <div class="col-sm-3">
              <input type="date" class="form-control" id="recent_activity" name="recent_activity" placeholder="Enter date" required>
            </div>
          </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </div>
    </form>
</div>
{% endblock %}