{% extends "base.html" %}
{% block content %}
<div class="insertForm">
    <form class="form-horizontal" method="POST">
        <h3 style="text-align: center">Update</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="recent_activity">Weeding date:</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="recent_activity" name="recent_activity" placeholder="Enter date" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="equipment_id">Equipment ID:</label>
            <div class="col-sm-3">
            <input type="number" class="form-control" id="equipment_id" name="equipment_id" min="0" placeholder="Enter ID">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="person_pesel">Person pesel:</label>
            <div class="col-sm-3">
                <input type="text" minlength="11" maxlength="11" class="form-control" id="person_pesel" name="person_pesel" placeholder="Enter pesel">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="farmland_address">Farmland address:</label>
            <div class="col-sm-3">
                <input type="text" maxlength="35" class="form-control" id="farmland_address" name="farmland_address" placeholder="Enter address">
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
    </form>
</div>
{% endblock %}